<!DOCTYPE html>
<html lang="en"></html>
<meta charset="UTF-8">

<link rel="stylesheet" href="contact.css">

<html>
<body>
<title>Contact Us</title>
<h1>Get in touch with Wheels On Fire</h1>
<p>


    <div class="title">
  <button class="titlebtn">Title</button>
  <div class="dropdown-content">
    <a href="#">Mr</a>
    <a href="#">Mrs</a>
    <a href="#">Other</a>
    <br>


  


  </div>
</div><br>
<p>Enter Your Issue Below</p>
<input type="text" id="txtbox1" name="txtbox1">
</p>
<p> For any Inquiries Please contact us our</p>
<p>Phone Number</p>
<p>086-123-1234</p>

<p>Email <br> DDS@Gmail.com
</p>

</body>
</html>