/* This is selecting the font for the whole web page */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a; 
  color: #e0e0e0; 
}

header {
  background-color: #0f0f0f; 
  padding: 40px 20px;
  text-align: center;
  border-bottom: 2px solid #333;
}


h1{
  text-align: center;
}
p{ 
  text-align: center;
  
}
.name-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  


}
.genderOptions{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.titlebtn{
  text-align: center;
  

}
.input-container {
  padding: 2px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
    }

#paragraphBox{
  width: 100%;
  height: 180px; 
  padding: 10px;
  font-size: 12px;
  line-height: 1.5;
  resize: vertical; 
  box-sizing: border-box;
    }

  .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  
}
.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
  font-family: 'Rattless';
}

.navbar ul li a:hover {
  color: #ffcc00;
}


.car1 {
  width: 400px;   
  height: auto;
  border-radius: 10px;
  position:absolute;
  top: 130px;
  right: 20px;

}
 
